.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.card {
  border: 2px solid red;
  border-radius: 5px;
  padding: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.guess {
  margin: auto;
  width:75%;
}

body {
  background-color: #F3B6CF;
}

@font-face
{
font-family: Princess;
src: url('Jellyka Western Princess.ttf'),
}

div.header h2 {
  font-family: Princess;
}

