.container {
  margin: 40px auto;
  width: 60%;
  padding: 0px 20px 20px 20px;
  height: inherit;
  /*border: 1px dotted black;*/
  background-color: #A8E6CE;
  border: 10px solid #FF8C94;
  border-radius: 3px;
}
th td {
  text-align: center;
}

#guess {
  width: 422px;
  font-size: 1.5em;
}

.button {
  background-color: #FF8C94;
  color: #FFE2E4;
  font-size: 1.5em;
}

#card_guess {
  margin: auto;
  padding: 0;
  width: 500px;
}

.guess {
  margin: auto;
  width:75%;
}

.grade {
  font-family: princessHeader;
  font-size: 10em;
  height: 200px;
}

.grade p {
  margin: 50px auto;
  text-align: center;
  width: 20%;
  height: 200px;
  width: 200px;
  line-height: 200px;

  background-color: white;
  background-size: 200px 200px;
}
.result #next-card:hover {
  color: #F55C7F ;
}

body {
  /*background-color: #C8C8A9;*/
  border-top: 10px solid #FF8C94;
  font-family: princessFont;
  background-image: url('../pattern.png');
}

.result p {
  font-size: 1.5em;
  background-color: #FFE2E4;
  border: 4px solid #FF8C94;
  text-align: center;
  margin: auto;
  width: 500px;
  /*outline: 1px solid black;*/
  border-radius: 3px;
  color: #FF8C94;
}

.round_progress {
  text-align: right;
  font-size: 2em;
  color: #FF8C94;
  margin-top: 30px;
/*   text-shadow:   -2px -2px 0 #FF8C94,
    2px -2px 0 #FF8C94,
    -2px 2px 0 #FF8C94,
    2px 2px 0 #FF8C94;*/
}

.round_progress p {
  margin: 0;
}

.result a {
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: black;
  font-size: .95em;
  height: 100px;
  text-decoration: none;
  display: block;
  background-image: url('../pink-cupcake-clipart.png');
  background-size: 100px 100px;
  margin: 30px auto;
}

@font-face {
  font-family: princessFont;
  src: url('PrincessAllie 5.ttf');
}

@font-face {
  font-family: princessHeader;
  src: url('Royaltea.ttf');
}


.header {
  text-align: center;
  background-color: #A8E6CE;
  padding-top: 10px;
  border-bottom: 10px solid #FF8C94;
  height: 130px;
}

.errors {

}

.deck_name {
  text-align: center;
  margin: 20px auto;
  color: #FF8C94;
  background-color: #FFE2E4;
  border-radius: 3px;
  border: 4px solid #FF8C94;
  width: 500px;
}

#current-user {
  position: absolute;
  display: block;
  top: 0;
  right:20px;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFE2E4;
  border: 2px solid #FF8C94;
  font-size: 1.2em;
  color: #FF8C94;
}

.header h2{
  display: inline-block;
  margin: 6px auto;
  height: 100px;
  line-height: 100px;
  font-size: 4em;
  color: #ffe2e4;
  background-color: #FF8C94;
  width: 60%;
  border-radius: 3px;
  border: 4px solid #ffe2e4;
  /*box-shadow: 5px 5px 20px #FF8C94;*/
  font-family: princessHeader;
 /* text-shadow:   -2px -2px 0 #FF8C94,
    2px -2px 0 #FF8C94,
    -2px 2px 0 #FF8C94,
    2px 2px 0 #FF8C94;*/
}

.header a {
  text-decoration: none;
}

#princess {
  background-image: url('../princess.png');
  height: 50px;
  width: 40px;
  background-size: 40px 50px;
  display: inline-block;
}

input {
  border-radius: 5px;
  padding: 2px;
}

/*CARD FLIP====================================================================*/

.flip {
  -webkit-perspective: 800;
  width: 500px;
  height: 300px;
  position: relative;
  margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  /*font-family: Georgia;*/
  font-size: 1.5em;
  text-align: center;
  line-height: 170%;
}

.flip .card .front p {
  width: 95%;
  margin: auto;
  margin-top: 62px;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
  background-image: url('../princess_notecard.png');
  background-size: 500px 300px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 3px;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  background: #fbb8db;
  color: black;
  cursor: pointer;
  line-height: 300px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
}
