<form class="create_deck" action="/create_deck" method="POST">
  <label><input type="text" name="deck[name]">pick a name for your deck, princess!</label><br>
  <label><input type="file" name="deck[filename]" accept=".csv">choose a file to import. must be CSV!</label>
  <input type="submit">
</form>
