<div class="container">
  <form action="/login" method="POST">
    <h3> Login </h3>
    <label>email <input type="text" name="user[email]"></label><br>
    <label>password <input type="password" name="user[password]"></label>
    <input type="submit"><br>
    <% if @login_errors %>
      <span class="errors"><%= @errors %></span>
    <% end %>
  </form>
<br>
<br>
  <form action="/create" method="POST">
    <h3> Create account </h3>
    <label>first name <input type="text" name="user[first_name]"></label><br>
    <label>last name <input type="text" name="user[last_name]"></label><br>
    <label>email <input type="text" name="user[email]"></label><br>
    <label>password <input type="password" name="user[password]"></label><br>
    <label>confirm password <input type="password" name="user[password_confirmation]"></label>
    <input type="submit">
    <% if @create_errors %>
      <span class="errors"><%= @errors %></span>
    <% end %>
  </form>
</div>
