<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="header">
    <div class="music">
      <!-- <audio src="/01 Untrust Us.mp3" autoplay="true" loop="true" ></audio> -->
      <embed src="/01 Untrust Us.mp3" autostart="true" loop="true" width="20" height="20">
      </embed>
      <noembed>
        <bgsound src="01 Untrust Us.mp3" loop="infinite">
      </noembed>
    </div> <!-- music -->
    <div id="princess"></div>
    <a href="/"><h2>Princess Flashcards</h2></a>
    <div id="princess"></div>
    <% if current_user %>
      <p id="current-user"><%="Hi #{current_user.first_name}!"%></p>
    <% end %>
    <% if logged_in? %>
      <a id="logout" href="/logout">logout</a>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
